<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Octo Quiz{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Seus outros estilos e scripts -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>

</head>
<body class="bg-gray-50  flex flex-col">

  <!-- Header -->
  <header class="bg-indigo-600 text-white shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <a href="/" class="font-bold text-xl">Octo Quiz</a>
      <nav>
        <ul class="flex space-x-4">
          {% if user.is_authenticated %}
            <li><a href="/" class="hover:underline">Home</a></li>
            <li><a href="{% url 'deck-list-page' %}" class="hover:underline">Decks</a></li>
            <li><a href="{% url 'flashcard-list-page' %}" class="hover:underline">Flashcards</a></li>
            <li><a href="{% url 'logout' %}" class="hover:underline">Logout</a></li>
          {% else %}
            <li><a href="{% url 'home' %}" class="hover:underline">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <main class="flex-grow">
    <div class="min-h-screen bg-gradient-to-br from-indigo-50 via-white to-indigo-100  flex flex-col">
        {% block content %}
        {% endblock %}
    </div>
  </main>

  <footer class="bg-indigo-600 text-white text-center py-4">
    &copy; 2025 Octo Quiz. All rights reserved.
  </footer>

</body>
</html>
