{% extends "base.html" %}

{% block content %}
<div class="container mx-auto my-20 items-center flex flex-col">

  <header class="mb-10 text-center">
    <h1 class="text-5xl font-extrabold text-indigo-700 tracking-tight drop-shadow-lg">
      Bem-vindo ao <span class="text-indigo-900">Flashcards</span>
    </h1>
    <p class="mt-3 text-lg text-indigo-600 max-w-xl">
      Estude com cartões de perguntas e respostas rápidas. Crie e organize seus decks para um aprendizado mais eficiente.
    </p>
  </header>

  <main class="flex-grow grid grid-cols-1 md:grid-cols-3 gap-8 max-h-[300px]">

    <a href="{% url 'deck-list-page' %}" class="transform hover:scale-105 transition duration-300 bg-white rounded-lg shadow-lg p-8 flex flex-col items-center text-indigo-800">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2z" />
      </svg>
      <h2 class="text-2xl font-semibold mb-2">Gerenciar Decks</h2>
      <p class="text-center text-gray-600">Crie, visualize e organize seus decks de flashcards.</p>
    </a>

    <a href="{% url 'flashcard-list-page' %}" class="transform hover:scale-105 transition duration-300 bg-white rounded-lg shadow-lg p-8 flex flex-col items-center text-green-700">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h8M8 16h8M8 8h8" />
        <rect x="3" y="5" width="18" height="14" rx="2" ry="2" />
      </svg>
      <h2 class="text-2xl font-semibold mb-2">Gerenciar Flashcards</h2>
      <p class="text-center text-gray-600">Adicione, edite e revise seus cartões de perguntas e respostas.</p>
    </a>
    <a href="{% url 'deck-select-for-execution-page' %}" class="transform hover:scale-105 transition duration-300 bg-white rounded-lg shadow-lg p-8 flex flex-col items-center text-purple-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6l4 2" />
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" fill="none" />
        </svg>
        <h2 class="text-2xl font-semibold mb-2">Estudar Decks</h2>
        <p class="text-center text-gray-600">Pratique com seus flashcards em modo de estudo interativo.</p>
    </a>


  </main>

</div>
{% endblock %}
